<p-menu [model]="menuItems">
    <ng-template #start>
            <span class="navigation-title">
                <span class="title">Household</span>
            </span>
    </ng-template>
    <ng-template #submenuheader let-item>
        <span>{{ item.label }}</span>
    </ng-template>
    <ng-template #item let-item>
        <div class="item-wrapper">
            <span [class]="item.icon"></span>
            <span class="sub-title">{{ item.label }}</span>
        </div>
    </ng-template>
</p-menu>